flows_104evr_water_system.json
[{"id":"414238f1.bebdc8","type":"tab","label":"Fill level sources"},{"id":"ce14a002.31eb6","type":"tab","label":"Main tank"},{"id":"948b214b.6b74e","type":"tab","label":"Rain tank"},{"id":"2f93ead9.d06c16","type":"tab","label":"Flow 2"},{"id":"c2e924f0.3d16d8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#10cfd8","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3ff23924.c00dc6","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"16b57cf4.e94a83","type":"ui_group","name":"Group 2","tab":"3ff23924.c00dc6","order":2,"disp":true,"width":6},{"id":"c80996e.f37f668","type":"ui_group","name":"Group 3","tab":"3ff23924.c00dc6","order":3,"disp":true,"width":6},{"id":"9fe4552f.601ba8","type":"ui_group","name":"Group","tab":"3ff23924.c00dc6","order":null,"disp":true,"width":6},{"id":"97bd4f7b.6842b","type":"ui_gauge","z":"ce14a002.31eb6","name":"","group":"16b57cf4.e94a83","order":1,"width":0,"height":0,"gtype":"wave","title":"Main Tank","label":"units","format":"{{value}}\"%\"","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":507.5,"y":60,"wires":[]},{"id":"1d20266f.e2dfda","type":"function","z":"ce14a002.31eb6","name":"Schmitt trigger","func":"// Schmitt trigger turns on at hight% and turns off at low%\n\nconst onThreshold = 80;\nconst offThreshold = 70;\n\nvar myState = context.get('myState')||false;\n\nvar level = msg.payload;\n\nmsg.topic = \"isOn\";\n\nif ((level > onThreshold) && !myState) {\n    myState = msg.payload = true;\n}\nelse if ((level < offThreshold) && myState) {\n    myState = msg.payload = false;\n}\nelse {\n    msg = null;\n}\n\ncontext.set('myState',myState);\nreturn msg;","outputs":1,"noerr":0,"x":440.5,"y":127,"wires":[["307f2ad4.cf80d6"]]},{"id":"307f2ad4.cf80d6","type":"ui_switch","z":"ce14a002.31eb6","name":"","label":"Dump to Rain tank","group":"16b57cf4.e94a83","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"isOn","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":447.5,"y":169,"wires":[["effaec39.10051"]]},{"id":"57cbbac3.a83444","type":"ui_switch","z":"ce14a002.31eb6","name":"","label":"Low water ALARM!","group":"16b57cf4.e94a83","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":188.5,"y":230,"wires":[["d862afd8.279d5"]]},{"id":"4951d9d9.b6ae28","type":"function","z":"ce14a002.31eb6","name":"Schmitt trigger","func":"// Schmitt trigger turns on at hight% and turns off at low%\n\nconst onThreshold = 25;\nconst offThreshold = 20;\n\nvar myState = context.get('myState')||false;\n\nvar level = msg.payload;\n\nmsg.topic = \"isOn\";\n\nif ((level > onThreshold) && !myState) {\n    myState = true;\n} else if ((level < offThreshold) && myState) {\n    myState = false;\n} else {\n    return null;\n}\n\ncontext.set('myState',myState);\n\nmsg.payload = !myState;\nreturn msg;","outputs":1,"noerr":0,"x":177,"y":189,"wires":[["57cbbac3.a83444"]]},{"id":"5fd4d498.a02b2c","type":"link in","z":"ce14a002.31eb6","name":"Main tank level","links":["d4ce9b5b.2b3168"],"x":174.5,"y":55,"wires":[["4951d9d9.b6ae28","1d20266f.e2dfda","97bd4f7b.6842b"]]},{"id":"31fd1952.ce02e6","type":"link out","z":"414238f1.bebdc8","name":"Cyclic fill level","links":[],"x":485.5,"y":223,"wires":[]},{"id":"410d3e16.bef2c","type":"function","z":"414238f1.bebdc8","name":"ADC to cm","func":"//calibration of sensor\nvar k = 0.41;\nvar sample;\n\ntry {\n    sample = msg.payload.analogSamples.AD1;\n}\ncatch(e) {\n    sample = msg.payload;\n}\n\nif (sample) {\n    msg.payload = \n        Math.round(k * sample);\n    msg.topic = 'cm'\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":306,"y":176,"wires":[["2925d71a.d6da28"]]},{"id":"2925d71a.d6da28","type":"function","z":"414238f1.bebdc8","name":"cm to %full","func":"// cm tanks levels\nvar empty = 500;\nvar full = 50;\nvar cur = msg.payload;\n\nmsg.payload = \n    Math.round(100 * ((empty - cur) / (empty - full)));\nmsg.topic = 'fill'\nreturn msg;\n","outputs":1,"noerr":0,"x":306,"y":222,"wires":[["31fd1952.ce02e6"]]},{"id":"eb4f964c.14b068","type":"function","z":"414238f1.bebdc8","name":"Sine generator","func":"var angle = context.get('angle')||0;\n\nmsg.payload = (1 + Math.sin(angle))/2;\n\nangle += 10 * Math.PI / 180;\n\ncontext.set('angle',angle);\nreturn msg;","outputs":1,"noerr":0,"x":316,"y":84,"wires":[["84198806.7be678","11e4ba72.ee1b46"]]},{"id":"95d1eec2.6a2e1","type":"inject","z":"414238f1.bebdc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":119,"y":84,"wires":[["eb4f964c.14b068"]]},{"id":"84198806.7be678","type":"function","z":"414238f1.bebdc8","name":"sine to ADC","func":"msg.payload = Math.round(1024 * msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":307,"y":131,"wires":[["410d3e16.bef2c"]]},{"id":"effaec39.10051","type":"link out","z":"ce14a002.31eb6","name":"Rainwater dump switch","links":["77203f60.88dfc"],"x":498.5,"y":260,"wires":[]},{"id":"a1f727.ff5e08d8","type":"ui_gauge","z":"948b214b.6b74e","name":"","group":"c80996e.f37f668","order":1,"width":0,"height":0,"gtype":"wave","title":"Rain water","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":400,"y":96,"wires":[]},{"id":"28e68301.d7197c","type":"inject","z":"414238f1.bebdc8","name":"Council water source","topic":"","payload":"4","payloadType":"num","repeat":"1","crontab":"","once":false,"x":134.5,"y":398,"wires":[["a086b55d.5f7948"]]},{"id":"7f1ee5f3.80e11c","type":"inject","z":"414238f1.bebdc8","name":"Rainwater Diversion sink","topic":"","payload":"-10","payloadType":"num","repeat":"1","crontab":"","once":false,"x":144.5,"y":452,"wires":[["d3068670.2cf978"]]},{"id":"a086b55d.5f7948","type":"function","z":"414238f1.bebdc8","name":"Main tank","func":"var fill = context.get('fill')||0;\n\nfill = Math.max(Math.min(fill+msg.payload,100),0);\n\ncontext.set('fill',fill);\n\nmsg.payload = fill;\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":397,"wires":[["d4ce9b5b.2b3168"]]},{"id":"d3068670.2cf978","type":"function","z":"414238f1.bebdc8","name":"Rainwater Dump Valve","func":"var isOn = context.get('isOn')||false;\n\nif (msg.topic == \"isOn\") {\n    isOn = (msg.payload)? true:false;\n    context.set('isOn',isOn);\n    return null;\n}\n    \nif (isOn){\n    var nmsg = {    topic: msg.topic,\n                    payload: -msg.payload };\n    return [msg,nmsg];\n}\n\nreturn null;","outputs":"2","noerr":0,"x":382.5,"y":544,"wires":[["a086b55d.5f7948"],["82dc183e.7d23e8"]]},{"id":"77203f60.88dfc","type":"link in","z":"414238f1.bebdc8","name":"Rainwater dump valve","links":["effaec39.10051"],"x":183.5,"y":507,"wires":[["d3068670.2cf978"]]},{"id":"d4ce9b5b.2b3168","type":"link out","z":"414238f1.bebdc8","name":"Main tank level","links":["5fd4d498.a02b2c"],"x":626.5,"y":456,"wires":[]},{"id":"d862afd8.279d5","type":"function","z":"ce14a002.31eb6","name":"halt rain drain","func":"if (msg.payload == true) {\n    msg.payload = false;\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":332.5,"y":300,"wires":[["307f2ad4.cf80d6"]]},{"id":"9c169020.63e97","type":"comment","z":"414238f1.bebdc8","name":"Level Simulator","info":"","x":85.5,"y":32,"wires":[]},{"id":"c0dc75b9.3f2388","type":"comment","z":"414238f1.bebdc8","name":"Main tank flows","info":"","x":86.5,"y":348,"wires":[]},{"id":"a65f3752.59a0c8","type":"comment","z":"414238f1.bebdc8","name":"Rain tank flows","info":"","x":105.5,"y":650,"wires":[]},{"id":"82dc183e.7d23e8","type":"function","z":"414238f1.bebdc8","name":"Rain tank","func":"var fill = context.get('fill')||0;\n\nfill = Math.max(Math.min(fill+msg.payload,100),0);\n\ncontext.set('fill',fill);\n\nmsg.payload = fill;\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":694,"wires":[["4a951601.b56ae8"]]},{"id":"4a951601.b56ae8","type":"link out","z":"414238f1.bebdc8","name":"Rain tank level","links":["621ac9f6.9de538"],"x":664.5,"y":775,"wires":[]},{"id":"4380552a.bc7fac","type":"function","z":"414238f1.bebdc8","name":"Irrigation Master Valve","func":"var isOn = context.get('isOn')||false;\n\nif (msg.topic == \"isOn\") {\n    isOn = (msg.payload)? true:false;\n    context.set('isOn',isOn);\n    return null;\n}\n    \nif (isOn){\n    var nmsg = {    topic: msg.topic,\n                    payload: -msg.payload };\n    return [msg,nmsg];\n}\n\nreturn null;","outputs":"2","noerr":0,"x":380,"y":769,"wires":[["82dc183e.7d23e8"],[]]},{"id":"68659376.979a6c","type":"inject","z":"414238f1.bebdc8","name":"Irrigation Sink","topic":"","payload":"-6","payloadType":"num","repeat":"1","crontab":"","once":false,"x":125.5,"y":769,"wires":[["4380552a.bc7fac"]]},{"id":"621ac9f6.9de538","type":"link in","z":"948b214b.6b74e","name":"Rain water level","links":["4a951601.b56ae8"],"x":106.5,"y":98,"wires":[["a1f727.ff5e08d8","d0a2afd9.2f5d5","da81186f.257ee8"]]},{"id":"da81186f.257ee8","type":"function","z":"948b214b.6b74e","name":"Schmitt trigger","func":"// Schmitt trigger turns on at hight% and turns off at low%\n\nconst onThreshold = 80;\nconst offThreshold = 70;\n\nvar myState = context.get('myState')||false;\n\nvar level = msg.payload;\n\nmsg.topic = \"isOn\";\n\nif ((level > onThreshold) && !myState) {\n    myState = msg.payload = true;\n}\nelse if ((level < offThreshold) && myState) {\n    myState = msg.payload = false;\n}\nelse {\n    msg = null;\n}\n\ncontext.set('myState',myState);\nreturn msg;","outputs":1,"noerr":0,"x":450.5,"y":183,"wires":[["9d42ede7.62bd1"]]},{"id":"9d42ede7.62bd1","type":"ui_switch","z":"948b214b.6b74e","name":"","label":"Irrigate","group":"c80996e.f37f668","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"isOn","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":427.5,"y":225,"wires":[["de69ace1.21965"]]},{"id":"ffd9e8f.f002618","type":"ui_switch","z":"948b214b.6b74e","name":"","label":"Low water ALARM!","group":"c80996e.f37f668","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":198.5,"y":286,"wires":[["d59e229c.2a61e"]]},{"id":"d0a2afd9.2f5d5","type":"function","z":"948b214b.6b74e","name":"Schmitt trigger","func":"// Schmitt trigger turns on at hight% and turns off at low%\n\nconst onThreshold = 25;\nconst offThreshold = 20;\n\nvar myState = context.get('myState')||false;\n\nvar level = msg.payload;\n\nmsg.topic = \"isOn\";\n\nif ((level > onThreshold) && !myState) {\n    myState = true;\n} else if ((level < offThreshold) && myState) {\n    myState = false;\n} else {\n    return null;\n}\n\ncontext.set('myState',myState);\n\nmsg.payload = !myState;\nreturn msg;","outputs":1,"noerr":0,"x":187,"y":245,"wires":[["ffd9e8f.f002618"]]},{"id":"d59e229c.2a61e","type":"function","z":"948b214b.6b74e","name":"halt irrigation","func":"if (msg.payload == true) {\n    msg.payload = false;\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":332.5,"y":356,"wires":[["9d42ede7.62bd1"]]},{"id":"6da70451.9258fc","type":"link in","z":"414238f1.bebdc8","name":"Master irrigation valve","links":["de69ace1.21965"],"x":186.5,"y":829,"wires":[["4380552a.bc7fac"]]},{"id":"de69ace1.21965","type":"link out","z":"948b214b.6b74e","name":"Master Irrigation switch","links":["6da70451.9258fc"],"x":556.5,"y":282,"wires":[]},{"id":"e1e004a6.1e1ff8","type":"function","z":"414238f1.bebdc8","name":"Rain","func":"\nreturn msg;","outputs":1,"noerr":0,"x":328.5,"y":695,"wires":[["82dc183e.7d23e8"]]},{"id":"43b7802e.bc488","type":"link in","z":"414238f1.bebdc8","name":"Rain in","links":["11e4ba72.ee1b46"],"x":134.5,"y":697,"wires":[["e1e004a6.1e1ff8"]]},{"id":"11e4ba72.ee1b46","type":"link out","z":"414238f1.bebdc8","name":"sine function","links":["43b7802e.bc488"],"x":525.5,"y":81,"wires":[]}]